/* Global Styles & Colour Palette */
/* pallet */

:root {
  --main-color: #14794a;
  --secondary-color: #5263be;
  --accent-color: #985c04;
  --text-color: #000000;
}

body {
  font-family: "Averia Libre", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-color);
  color: #000000;
}

/* Removeable styling for visualising responsiveness & Bootstrap grid */
.container {
  border: 2px dotted rgb(98, 0, 0);
}
.col {
  border: 2px dotted rgb(30, 218, 143);
}
.row {
  border: 2px dotted rgb(61, 27, 233);
}

.navbar {
  background-color: var(--secondary-color) !important;
}

h3 {
  color: var(--accent-color);
  margin: 0;
  padding: 0;
  font-size: 2rem;
  text-transform: lowercase;
}

h1,
h2,
h4,
h5,
h6 {
  color: var(--accent-color);
  margin: 0;
  padding: 0;
}

/* Header, hero image, and hero text styles */
.hero-image {
  position: relative;
  position: flex;
  width: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  text-align: center;
}

/* .hero-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3% 3%;
} */

.hero-text {
  height: 200px;
  padding: 20px;
  border: 2px solid var(--secondary-color);
  border-radius: 3% 3%;
}

.hero-title {
  justify-content: center;
  align-items: center;
}

.cta-btn {
  justify-content: center;
  align-items: end;
}

.btn-outline {
  background-color: transparent;
  color: #000000;
  border: 2px solid var(--secondary-color);
  color: var(--accent-color);
  font-size: 0.8rem;
}

.btn-outline:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border: 2px solid var(--accent-color);
}

footer {
  background-color: var(--secondary-color);
  color: #000000;
  text-align: center;
  padding: 10px 0;
}
