/* pallet */
:root {
  --background-color: #0e1f1a;
  --background2: #12332b;
  --cards-panels: #1f2a2e;
  --primary-cta-gradient: linear-gradient(90deg, #ff3eb5, #8b5cff, #2df2e9);
  --hover-glow-1: #9cff4f;
  --hover-glow-2: #ffd84d;
  --icon-badge-1: #4caf7a;
  --icon-badge-2: #ff8c42;
  --icon-badge-3: #ff3eb5;
  --link-color: #2df2e9;
}

.hero-img {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: auto;
  display: block;
}

/* :root {
  --main-color: #14794a;
  --secondary-color: #5263be;
  --accent-color: #985c04;
  --text-color: #ffffff;
}

body {
  font-family: "Averia Libre", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
  color: var(--text-color);
} */

/* Removeable styling for visualising responsiveness & Bootstrap grid */
/* .container {
  border: 2px dotted rgb(98, 0, 0);
}
.col {
  border: 2px dotted rgb(30, 218, 143);
}
.row {
  border: 2px dotted rgb(61, 27, 233);
} */

/* h2 {
  color: var(--accent-color);
  margin: 0;
  padding: 20px 0 10px 0;
  font-size: 2rem;
  text-transform: lowercase;
}

h3 {
  color: var(--accent-color);
  margin: 0;
  padding: 0;
  font-size: 2rem;
  text-transform: lowercase;
}

h4 {
  color: var(--accent-color);
  padding: 20px 0 10px 0;
  font-size: 1rem;
  text-transform: lowercase;
}

h1,
h5,
h6 {
  color: var(--accent-color);
  margin: 0;
  padding: 0;
} */

/* Header, hero image, and hero text styles */
/* .hero-image {
  position: relative;
  width: 100%;
  background-color: #000000;
  color: rgb(0, 0, 0);
  text-align: center;
} */

/* .hero-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3% 3%;
} */

/* .hero-text {
  height: 150px;
  padding: 20px;
  margin: 20px;
  border-radius: 3% 3%;
}

.hero-title {
  justify-content: center;
  align-items: center;
}

.cta-btn {
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.btn-outline {
  background-color: transparent;
  color: #000000;
  border: 1px solid #ffffff;
  border-radius: 0px;
  color: var(--accent-color);
  font-size: 0.8rem;
}

.btn-outline:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border: 2px solid var(--accent-color);
}

footer {
  background-color: var(--secondary-color);
  color: #000000;
  text-align: center;
  padding: 10px 0;
} */
