/* Global Styles & Colour Palette */
body {
  font-family: "Averia Libre", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
  color: #333333;
}

/* Header, hero image, and hero text styles */
.hero-image {
  position: relative;
  background: url("../images/carousel-img3.jpg") no-repeat center center/cover;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  text-align: center;
}

.hero-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3% 3%;
}

.hero-text {
  width: 40vw;
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 3% 3%;
}
